.a1 {
    width: 10vw;
    height: 10vw;
}
.a2 {
    width: 20vw;
    height: 4vw;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.grey {
    background-color: grey;
}
.purple {
    background-color: purple;
}
.orange {
    background-color: orange;
}